*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.terraform
account.json
*.retry
gce.ini
gce.py

# Vagrant
.vagrant/
*.logs
*.log
*.old
bin/
lib/
local/
share/
.molecule/
.cache/
__pycache__/
ansible/roles/db/
